body {
  background-color: lightblue;
}

/* This is the top head syntax for color and location */
h1 {
  color: red;
  text-align: center;
}

h2 {
  text-align: center;
  color: (0, 120, 255);
}

menu {
  color: hsl(248, 53%, 58%);
}

div {
  background-color: yellow;
}

p {
  font-family: times;
  color: (#000000);
  font-size: 15px;
}
